
ul{color:red}

div.tagCloud { 
  width:290px; 
  background-color:#575454; /* background color of gif. */ 
  text-align:center; 
  padding:5px; 
  overflow:auto; 
  font-size:70%; 
  font-family:arial; 
  }

div.tagCloud header { 
  display:block;
  background:url(cloud.gif) no-repeat 0;
  color:white;
  font-size:2.5em; 
  margin:0 0 10px 0; 
  padding:20px 0 20px 80px; 
  }

.tagCloud ul { 
  margin:0; 
  padding:0; 
  }

.tagCloud ul li { 
  list-style-type:none; 
  float:left; 
  margin:0 10px; 
  color:white;
  height:35px; 
  }
