body{
  background-color: lightblue;
}

h1{
  color: red; 
  font-style: italic;
  text-align: center;
}
h2{
  color:#FFD700;
  font-style:italic;
  text-decoration: underline;
  text-align: center;
}
.necessary{
 color: purple;
 text-decoration: underline;
}
.luxury{
 color: #FF1493;
 text-decoration: underline;
}
table, th, td{
 border: 1px solid black;
}
ol,ul{
 color: orange;
 text-align: left;
}
p:first-child{
  color:red
}

p::first-letter{
  font-size:1.4em;
}
